doctype html
html
  head
    link(rel="stylesheet" href="/css/style.css")
  body
    header
      h1 Plants Records Explorers
      p Welcome to the home page!

    a(href="/updates-cobj") Add to this table

    table
      thead
        tr
          th Plant Name
          th Plant Description
          th Plant color
      tbody
        each explorer in explorers
          tr
            td= explorer.properties.plant_name
            td= explorer.properties.plant_description
            td= explorer.properties.plant_color
