doctype html
html
  head
    link(rel="stylesheet" href="/css/style.css")
    title= pageTitle
  body
    h1 Return to the homepage
    a(href="/") Go to Homepage
    h1= pageTitle
    form(action="/updates-cobj", method="post")
      label(for="plant_name") Plant Name:
      input(type="text", name="plant_name", required)
      br
      label(for="plant_description") Plant Description:
      input(type="text", name="plant_description", required)
      br
      label(for="plant_color") Plant color:
      input(type="text", name="plant_color", required)
      br
      button(type="submit") Submit
